# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Environment variables
.env

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Migrations (optional — if you don't want to track them)
**/migrations/*.py
!**/migrations/__init__.py

# Pytest cache
.pytest_cache/

# coverage reports
htmlcov/
.coverage
.coverage.*

# Static and media files (if generated)
staticfiles/
media/
